h1{
    text-align: center;
    font-family: 'Montserrat';
    color:#6a09b5;
    padding: 20px;
}
.container{
    padding-bottom: 10px;
}
.form{
    background-color: #6a09b5;
    margin-bottom: 10px;
    padding:10px;
}

label{
    color:white;
    margin-left: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap:20px;
}
#save, #cancel{
    background-color: #ffffff;
    color:#6a09b5;
    border:1px solid #6a09b5;
    font-weight:bold;
    width:150px;
}
